<div class="hero-left uni-flex">
    <ul class="nav flex f-d-c gap-1">
        <li><a href="/home"><button class="nav-button">Home</button></a></li>
        <li><a href="/update"><button class="nav-button">Update</button></a></li>
        <li><a href="/delete"><button class="nav-button">Delete</button></a></li>
        <li><a href="/search"><button class="nav-button">Search</button></a></li>
        <!-- <li><a href="/admin"><button class="nav-button">Admin</button></a></li> -->
        <li><a href="/logout"><button class="nav-button">Logout</button></a></li>
    </ul>
</div>