<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showing Results</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="flex">
    <div class="hero flex f-d-c">
        <p>Following is the result of your query:</p>
        <p>Student name : <%= result %></p>
        <p>Admission date : <%= date %></p>
        </p>          
    </div>
</body>
</html>