<%- include('partials/head.ejs') %>
    <div class="main flex">
        <%- include('partials/nav.ejs') %>
        <div class="hero-right uni-flex">
            <div class="hero-inner uni-flex">
                <div class="hero-main uni-flex">
                    <form action="/update" method="post" class="reg-form uni-flex f-d-c gap-1">
                        <div class="field-1">
                            <label for="rr">Enter old Roll no</label>
                            <input type="text" name="old_num" placeholder="Enter the Roll no." id="rr" required autofocus>
                        </div>

                        <div class="field-2">
                            <label for="yy">Enter new Roll no</label>
                            <input type="text" name="new_num" placeholder="Enter the Roll no." id="yy" required>
                        </div>
                        <div class="field-3">
                            <button type="submit" class="button">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/script.js"></script>
<%- include('partials/foot.ejs') %>